# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
g_key

'AIzaSyCzsuij-YS-xMw0w7lp2tUKJ4fFBI_bv4g'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
cities_csv = "../WeatherPY/output_data/weather_city_data.csv"
weather_result = pd.read_csv(cities_csv)
weather_result

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,grindavik,63.8424,-22.4338,46.40,71,90,10.36,IS,1619535558
1,port alfred,-33.5906,26.8910,69.64,66,0,18.70,ZA,1619535559
2,aras,42.5617,-2.3560,57.99,82,75,5.75,ES,1619535559
3,georgetown,5.4112,100.3354,82.40,83,40,2.30,MY,1619535559
4,rikitea,-23.1203,-134.9692,76.17,75,42,8.34,PF,1619535289
...,...,...,...,...,...,...,...,...,...
565,praia,14.9215,-23.5087,78.80,57,75,19.57,CV,1619535825
566,dillon,34.4166,-79.3712,73.99,46,1,5.75,US,1619535826
567,xiaoweizhai,26.1903,107.5125,58.75,94,38,1.90,CN,1619535592
568,midland,31.9974,-102.0779,78.01,50,1,11.50,US,1619535615
569,prince rupert,54.3161,-130.3201,46.40,81,90,13.80,CA,1619535804

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

# Store 'Lat' and 'Lng' into  locations 
locations = weather_result[["Lat","Lng"]].astype(float)

# Convert Poverty Rate to float and store
humidity = weather_result["Humidity"].astype(float)

In [10]:
# Plot Heatmap
fig = gmaps.figure()

#Add heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating=False, max_intensity=np.max(humidity), 
                                 point_radius=3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

# Option 1

weather_criteria = weather_result.loc[(weather_result["Wind Speed"] <= 10) |
                                         (weather_result["Cloudiness"] == 0) |
                                         (weather_result["Max Temp"] >= 70) | 
                                         (weather_result["Max Temp"] <= 80)]

# Remove the NaN Values

weather_criteria = weather_criteria.dropna()

# Reset Index

weather_criteria = weather_criteria.reset_index()
weather_criteria

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,grindavik,63.8424,-22.4338,46.40,71,90,10.36,IS,1619535558
1,1,port alfred,-33.5906,26.8910,69.64,66,0,18.70,ZA,1619535559
2,2,aras,42.5617,-2.3560,57.99,82,75,5.75,ES,1619535559
3,3,georgetown,5.4112,100.3354,82.40,83,40,2.30,MY,1619535559
4,4,rikitea,-23.1203,-134.9692,76.17,75,42,8.34,PF,1619535289
...,...,...,...,...,...,...,...,...,...,...
561,565,praia,14.9215,-23.5087,78.80,57,75,19.57,CV,1619535825
562,566,dillon,34.4166,-79.3712,73.99,46,1,5.75,US,1619535826
563,567,xiaoweizhai,26.1903,107.5125,58.75,94,38,1.90,CN,1619535592
564,568,midland,31.9974,-102.0779,78.01,50,1,11.50,US,1619535615
565,569,prince rupert,54.3161,-130.3201,46.40,81,90,13.80,CA,1619535804

In [21]:
# Option 2 - different way to solve it.

weather_criteria2 = weather_result.loc[(weather_result["Wind Speed"] <= 10) & (weather_result["Cloudiness"]== 0) & \
                  (weather_result["Max Temp"] >= 70) & (weather_result["Max Temp"] <= 80)].dropna()
weather_criteria2

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
10,mount isa,-20.7333,139.5000,75.20,25,0,5.75,AU,1619535561
86,suluktu,39.9337,69.5700,77.00,27,0,3.98,KG,1619535592
104,imbituba,-28.2400,-48.6703,71.60,56,0,4.61,BR,1619535612
179,gat,31.6100,34.7642,70.00,53,0,1.99,IL,1619535480
230,san ignacio,17.1561,-89.0714,78.80,73,0,6.91,BZ,1619535673
270,karratha,-20.7377,116.8463,78.94,34,0,9.13,AU,1619535691
315,noumea,-22.2763,166.4572,75.00,77,0,2.30,NC,1619535605
328,san juan,-31.5375,-68.5364,71.33,41,0,3.62,AR,1619535719
377,roebourne,-20.7833,117.1333,78.84,33,0,8.32,AU,1619535741
520,port hedland,-20.3167,118.5667,73.40,49,0,8.05,AU,1619535806
544,moron,-34.6534,-58.6198,70.00,57,0,4.00,AR,1619535547

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [22]:
# Create hotel_df with hotel name column

hotel_df = weather_criteria2

# Add a "Hotel Name" column to the DF

hotel_df["Hotel Name"] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
10,mount isa,-20.7333,139.5000,75.20,25,0,5.75,AU,1619535561,
86,suluktu,39.9337,69.5700,77.00,27,0,3.98,KG,1619535592,
104,imbituba,-28.2400,-48.6703,71.60,56,0,4.61,BR,1619535612,
179,gat,31.6100,34.7642,70.00,53,0,1.99,IL,1619535480,
230,san ignacio,17.1561,-89.0714,78.80,73,0,6.91,BZ,1619535673,
270,karratha,-20.7377,116.8463,78.94,34,0,9.13,AU,1619535691,
315,noumea,-22.2763,166.4572,75.00,77,0,2.30,NC,1619535605,
328,san juan,-31.5375,-68.5364,71.33,41,0,3.62,AR,1619535719,
377,roebourne,-20.7833,117.1333,78.84,33,0,8.32,AU,1619535741,
520,port hedland,-20.3167,118.5667,73.40,49,0,8.05,AU,1619535806,
544,moron,-34.6534,-58.6198,70.00,57,0,4.00,AR,1619535547,

In [ ]:
 #Set parameters to search for hotels with 5000 meters.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

# Create a list of hotels to save the data from the API

hotels = []

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure